
@font-face {
  font-family: 'SFProText-Light';
  src: url('../font/FontsFree-Net-SFProText-Light.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SFProText-Light";
}

body{
  background-image: url("../img/mountain.jfif");
  background-repeat: no-repeat;
  background-position: center;
}

p{
  font-size: 16px;
  font-weight: bold;
}

#top-left-col, #top-right-col{
  background-color: rgba(226,188,183,.7);
  border-bottom: 1px solid #fff;
}

#bottom-left-col, #bottom-right-col{
  background-color: rgba(226,188,183,.8);
  /* border-bottom: 1px solid #fff; */
}

@media screen and (max-width : 992px){
  #top-left-col, #top-right-col, #bottom-left-col{
    border-bottom: 1px solid rgba(226,188,183,.8);
  }
}

